[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycryptodome = "*"
flask = "*"

[packages]
Pillow = ">=8.3.2"
toml = "*"
requests = "*"
jinja2 = ">=2.11.3"
urllib3 = ">=1.26.5"

[requires]
python_version = "3.9"
